apiVersion: apps/v1
kind: Deployment
metadata:
  name: hi-indore-deployment
  labels:
    app: hi-indore
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hi-indore
  template:
    metadata:
      labels:
        app: hi-indore
    spec:
      containers:
      - name: hi-indore
        image: kartikjalgaonkar/hi-indore
        ports:
        - containerPort: 8081
